*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //tap高亮,一般给透明即可
    -webkit-tap-highlight-color: transparent;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float:right;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clear-fix {
    zoom: 1;
}
body {
    background: #f8f8f8;
}
